body  {
  font-family: Special Elite;
}
.sodared  {
  float: left;
  height: 70px;
}
.sodablue  {
  float: right;
  height: 70px;
}
.appName  {
  margin: 0em auto;
  width: 20em;
  box-sizing: border-box;
  text-align: center;
  font-size: 2em;
}
#userInput  {
  font-family: sans-serif;
  text-align: center;
}
#addItem  {
  font-weight: lighter;
}
#addItem:hover  {
  font-weight: normal;
}
.buttonDisplay  {
  margin: 1em auto 0 auto;
  text-align: center;
  font-family: sans-serif;
  font-size: 1em;
  font-weight: lighter;
}
#hideButton  {
  display: in-line;
}
#showButton  {
  display: none;
}
#hideButton:hover  {
  font-weight: normal;
}
#showButton:hover  {
  font-weight: normal;
}
.itemsSection  {
  margin: auto auto;
  max-width: 20em;
}
.itemsList  {
  font-size: 2em;
  list-style: none;
  text-align: left;
}
.item {
  margin-top: 1em;
}
.box  {
  float:left;
  margin-top: 0px;
  margin-right: 30px;
  height: 30px;
  width: 30px;
  background: url("../images/unchecked.png");
  background-repeat: no-repeat;
  back
}
.boxChecked  {
  float:left;
  margin-top: 0px;
  margin-right: 30px;
  height: 30px;
  width: 30px;
  background: url("../images/checked.png");
  background-repeat: no-repeat;
}
.strikethrough  {
  text-decoration: line-through;
}
.remove  {
  float: right;
  display: none;
}
.removeShow  {
  float:right;
  display: inline;
}
#searchInput  {
  font-family: sans-serif;
  text-align: center;
}
#searchItem  {
  font-weight: lighter;
}
#searchItem:hover  {
  font-weight: normal;
}
